body {
    font-family: 'Trebuchet MS';
    background: beige;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: 80px; 
    text-align: center;
    border-radius: 5px;

}

input[type="text"] {
    padding: 8px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 100px;
}

button {
    padding: 8px 12px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px
}

button:hover {
    background: #9ac4e2;
    color: black;
    border: 2px;
}

ul {
    list-style-type: circle;
    margin-top:10px;
    text-align:left;
}

#results{
    border: px solid black;
}