<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Engine - Solar System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Solarizer</h1>
        <input type="text" id="queryInput" placeholder="Enter your question...">
        <button onclick="searchQuery()">Search</button>

    <div id="results">

        
    </div>
    </div>



 
    <script>
    async function searchQuery() {
        const query = document.getElementById("queryInput").value;
        const response = await fetch("/search", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({query})
        });

        const data = await response.json();

        let resultsDiv = document.getElementById("results");
        resultsDiv.innerHTML = "<h2>Top Results:</h2>";

       
        let table = "<table><thead><tr><th>Data Fetched</th><th>Similarity Score</th></tr></thead><tbody>";

        
        data.forEach(r => {
            table += `<tr><td>${r.sentence}</td><td>${r.score.toFixed(3)}</td></tr>`;
        });
        
        table += "</tbody></table>";
        resultsDiv.innerHTML += table;
    }
</script>



   
</body>
</html>
